*{
    margin-left: 0px;
    margin-right:0px;
    margin-bottom: 0px;
    margin-top:0px;
    
}



.cen {
    margin-left: 890px;
    margin-top: 300px;
    position: fixed;
   
}
.pla {
    margin-left: 750px;
    margin-top: 400px;
    width: 550px;
    line-height: 35px;
    text-align: left;
    border: 1px solid gainsboro; 
    position: fixed;
    }
.but {
    width: 200px;
    margin-left: 800px;
    margin-top: 450px;
    color: dimgrey;
    background-color: whitesmoke;
    font-weight: bold;
    line-height: 2;
    position: fixed;
}
.but1 {
    width: 200px;
    margin-left: 1050px;
    margin-top: 450px;
    color: dimgrey;
    background-color: whitesmoke;
    font-weight: bold;
    line-height: 2;
    position: fixed;
}
.but:hover {
   background-color: white;
    color: black;
    box-shadow: 1px 1px 1px 1px gainsboro;
    border: 1px solid grey;
    transition-property: box-shadow;
    transition-duration: 200ms;
    transition-timing-function: cubic-beziersteps(0.86,0,0.07,1);
    transition-delay: 0;
}
    .but1:hover {
   background-color: white;
    color: black;
     box-shadow: 1px 1px 1px 1px gainsboro;
    border: 1px solid grey;
   
}

.som {
   list-style: none;
    margin-left: 700px;
    margin-top: 500px;
    position: fixed;
   }

li{
  float: left;
    padding: 0 4px; 
     
}

.lm {
    line-height: 60px;
    padding: 0 3px;
    margin-right: 2px;
    margin-bottom: 100px;
}

a{
    text-decoration-line: none;
    color: #1a0dab;
    font-size: 13px;
   
}

a:hover{
   text-decoration-line: underline; 
}
.pla:hover{
    border-bottom: 3px solid gainsboro;
}
.5 {
    width: 20px;
}

.0 {
 margin-top: 300px;
}



.ip {
    margin-top: 870px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    background-color: #f2f2f2;
    height: 40px;
    border-top: 2px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    line-height: 2;
    padding-left: 30px;
    cursor:text;
    
    
    
    
    
}

.im {
    font-size: 15px;
    color: rgba(0,0,0,.54);
    background-color: #f2f2f2;
    height: 40px;;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    line-height: 2;
    list-style: none;
   
   
    
    
}

.ip:hover{
    text-decoration-line: none;
}




.ad {
    padding-right: 20px;
    
    
}

.ad1 {
    float: right;
    padding-right: 20px;
}




.new {
    list-style: none;
    margin-left: 1600px;
    vertical-align: text-top;
    margin-top: px;
    position:fixed;
    margin-top: 20px;
    }

.imk {
    color: gray;
    margin-bottom: 20px;
}

.u {
    color: white;
    background-color: grey;
    border-radius: 25px 19px 25px 25px;
    margin-bottom: 20px;
    width: 35px;
}

.nbn {
    border-radius: 25px 25px 25px 25px;
    width:40px;
    
    margin-bottom: 20px;
}




.lkl {
   
    
}

.121 {
    background-color: gray;
}

.kjk {
    color: red;
}
