



.cen {
    margin-left: 800px;
    margin-top: 300px;
}

.pla {
    margin-left: 700px;
    margin-top: 20px;
    width: 450px;
    line-height: 35px;
    text-align: left;
    border: 1px solid gainsboro; 
    }
.pla:hover {
    margin-left: 700px;
    margin-top: 20px;
    width: 450px;
    line-height: 35px;
    text-align: left;
    border: 1px solid gainsboro;
    box-shadow:  0 2px 2px 0 gainsboro;
    cursor:text;
    border-radius: 2px;
    transition-property: box-shadow;
    transition-duration: 200ms;
    transition-timing-function: cubic-beziersteps(0.86,0,0.07,1);
    transition-delay: 0;
    
    
    }

.but {
    width: 200px;
    margin-left: 700px;
    margin-top: 10px;
    color: dimgrey;
    background-color: whitesmoke;
    font-weight: bold;
    line-height: 2;
    position: fixed;
    
}

.but1 {
    width: 200px;
    margin-left: 940px;
    margin-top: 10px;
    color: dimgrey;
    background-color: whitesmoke;
    font-weight: bold;
    line-height: 2;
    position: fixed;
}

.but:hover {
   background-color: white;
    color: black;
    box-shadow: 1px 1px 1px 1px gainsboro;
    border: 1px solid grey;
    transition-property: box-shadow;
    transition-duration: 200ms;
    transition-timing-function: cubic-beziersteps(0.86,0,0.07,1);
    transition-delay: 0;
 
    
}
    

.but1:hover {
   background-color: white;
    color: black;
     box-shadow: 1px 1px 1px 1px gainsboro;
    border: 1px solid grey;
   
}

.som {
    list-style: none;
    margin-left: 740px;
    margin-top: 50px;
    
     
    }



a {
  text-decoration-line: none;
   
  
   
}

 li{
  float: left;
    padding: 0 4px; 
     
}


.info {
   float: left;
    
  
}





.lm {
    line-height: 30px;
}
